* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Calibri';
}
nav {
    background: #222;
    padding: 15px 40px;
    border-bottom: 2px solid burlywood;
}
ul {
    list-style-type: none;
}
.header a, .footer a {
    color: white;
    text-decoration: none;
}
.header a:hover, .footer a:hover {
    text-decoration: underline;
}
.logo a:hover {
    text-decoration: none;
}

.menu {
    display: flex;
}

.menu .item {
    align-self: flex-end;
    flex-wrap: nowrap;
    padding: 15px;
}

.menu .logo {
    margin-right: auto;
    padding: 15px;
    font-family: 'Lobster', cursive;
}

.menu .button {
     padding: 14px;
     border-radius: 10px;
 }

.menu .button a:hover {
    text-decoration: none;
    background: burlywood;
    color: white;
    border: 2px solid white;
}

.menu .primary a {
    background: white;
    color: black;
    padding: 15px 21px 15px 21px;
    border-radius: 10px;
    border: 2px solid burlywood;
}

.menu .secondary a {
    background: white;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid burlywood;
    color: black;
}

.main-head {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Lobster', cursive;
}

.index-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px;
    justify-content: center;
    align-items: center;
}

.index-main-container .item {
    text-align: center;
}

.index-main-container .item p {
    padding: 0 13% 0 13%;
}

.about-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px;
    justify-content: center;
    align-items: center;
}

.about-main-container .item {
    text-align: center;
}

.about-main-container .item p {
    padding: 0 13% 0 13%;
}

.products-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px 600px 600px;
    justify-content: center;
    align-items: center;
}

.products-main-container .item {
    text-align: center;
}

.products-main-container .item p {
    padding: 0 13% 0 13%;
}

.products-bestsellers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.products-bestsellers .item {
    text-align: center;
}

.products-bestsellers .item img {
    width: 80%;
    height: 80%;
    margin: auto;
}

.products-bestsellers .item img:hover {
    box-shadow: 0 0 20px burlywood;
}

.contact-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px;
    justify-content: center;
    align-items: center;
}

.contact-main-container .item {
    text-align: center;
}

.contact-main-container .item p {
    padding: 0 13% 0 13%;
}

.footer {
    background: black;
    border-top: 2px solid burlywood;
}

.footer-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-container ul li {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 33%;
}

.footer-container ul li a {
    display: inline-block;
    vertical-align: middle;
}

.footer-container ul img {
    width: 10%;
    vertical-align: middle;
    margin-right: 10px;
}

@media (max-width: 806px) {
    body .menu {
        text-align: center;
    }
    .menu .logo {
        align-self: center;
        margin-right: 0;
        width: 100%;
        font-size: 20px;
    }

    .menu .item {
        align-self: center;
        width: 100%;
    }

    body .menu {
        flex-wrap: wrap;
    }

    body .menu li {
    }

    body .menu .button {
        width: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .menu .primary {
    }

    .menu .secondary {
    }

    .main {
        background: none;
    }

    .main-head {
        margin-top: 70px;
        margin-bottom: 30px;
    }

    .index-main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 500px 500px 500px 500px;
    }

    .about-main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 500px 500px;
    }

    .products-main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 500px 500px 500px 500px 500px 500px;
    }

    .products-bestsellers {
        grid-template-columns: 1fr;
        grid-row-gap: 80px;
        margin-top: 50px;
    }

    .contact-main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 500px 500px;
    }

    body h1, body h3 {
        padding: 0 13% 0 13%;
    }

    .footer .footer-container ul {
        flex-direction: column;
    }

    .footer .footer-container li {
        width: 100%;
    }
}

@media (min-width: 807px) {
    .index-main h1, .index-main p {
        color: white;
    }

    .index-main h1 {
        font-size: 62px;
        text-shadow: 0 0 80px black;
    }

    .index-main p {
        text-shadow: 0 0 10px black;
    }

    .index-main {
        background: url("backgrounds/tools.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .about-main {
            background: url("backgrounds/office.jpg");
            background-repeat: no-repeat;
            background-size: cover;
    }

    .contact-main {
            background: url("backgrounds/telephone-booths.jpg");
            background-repeat: no-repeat;
            background-size: cover;
    }

    .products-main {
            background: url("backgrounds/wood.jpg");
            background-repeat: no-repeat;
            background-size: cover;
    }
}
