* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Calibri';
}
nav {
    background: #222;
    padding: 15px 40px;
}
ul {
    list-style-type: none;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.logo a:hover {
    text-decoration: none;
}

.menu {
    display: flex;
}

.menu .item {
    align-self: flex-end;
    flex-wrap: nowrap;
    padding: 15px;
}

.menu .logo {
    margin-right: auto;
    padding: 15px;
    font-family: 'Lobster', cursive;
}

.menu .button {
     padding: 14px;
     border-radius: 10px;
 }

.menu .button a:hover {
    text-decoration: none;
    background: burlywood;
    color: white;
    border: 2px solid white;
}

.menu .primary a {
    background: white;
    color: black;
    padding: 15px 21px 15px 21px;
    border-radius: 10px;
    border: 2px solid burlywood;
}

.menu .secondary a {
    background: white;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid burlywood;
    color: black;
}

.main-head {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.main h1 {
    margin-bottom: 10px;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 600px 600px 600px;
    justify-content: center;
    align-items: center;
}

.main-container .item {
    text-align: center;
}

.main-container .item p {
    padding: 0 13% 0 13%;
}

.footer {
    background: black;
}

.footer-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-container ul li {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 33%;
}

.footer-container ul li a {
    display: inline-block;
    vertical-align: middle;
}

.footer-container ul img {
    width: 10%;
    vertical-align: middle;
    margin-right: 10px;
}

@media (max-width: 806px) {
    body .menu {
        text-align: center;
    }
    .menu .logo {
        align-self: center;
        margin-right: 0;
        width: 100%;
        font-size: 20px;
    }

    .menu .item {
        align-self: center;
        width: 100%;
    }

    body .menu {
        flex-wrap: wrap;
    }

    body .menu li {
    }

    body .menu .button {
        width: 50%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .menu .primary {
    }

    .menu .secondary {
    }

    body .main h1, body .main h3 {
        padding: 0 13% 0 13%;
    }

    .footer .footer-container ul {
        flex-direction: column;
    }

    .footer .footer-container li {
        width: 100%;
    }
}
